:root{
/* Color Scheme */
 --primary-clr: #f7c945;
 --accent-clr: #4544f7;
 --black: black;
 --dropdown:#3752b4;
 --hero-dropdown:blue;
 /* --main:#a0d8ef; */
 /* Font Family  */
 --ff: "Outfit", sans-serif;
/* -- Text font weights -- */
 --font-weight-Thin: 100;
--font-weight-ExtraLight: 200;
--font-weight-Light: 300;
--font-weight-Regular: 400;
--font-weight-Medium: 500;
--font-weight-Semibold: 600;
--font-weight-Bold: 700;
--font-weight-ExtraBold: 800;
--font-weight-Black:900;
/* font size */
--heading-font-size:3rem;
--subheading-font-size:32px;
--body-font-size:20px;
}


html{
  scroll-behavior: smooth;
}

.main-heading{
  font-size: var(--heading-font-size);
  font-weight: var(--font-weight-Bold);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

body{
    font-family: var(--ff);
    cursor:pointer;
    /* include padding for mobile deisgn */
    /* padding: 0 1rem; */
    font-size: var(--body-font-size);
    color:var(--black);
}
/* BUTTON  STYLING */
  .btn {
    padding: 20px 24px; /* Adjust padding to your preference */
    border-radius: 8px; /* Adjust border radius for rounded corners */
    background-color: black; /* Button background color */
    color: white; /* Text color */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Optionally adjust font weight */
    text-transform: uppercase; /* Optionally transform text to uppercase */
    border: none; /* Remove default button border */
    cursor: pointer; /* Show pointer cursor on hover */
    border:2px solid black;
    text-decoration: none;
  }

  .btn:hover {
    background-color: white; 
    color: var(--black);
  }

  .fa-caret-right{
  margin-left: 5px;;
  }


/* Header STYLING */
header{
    /* background-color: yellow; */
    position: sticky;     /* we want it to stick to the top of the page  */
    z-index:100;         /* float above everything else */
    height:69px;
    width:100%;
    left:0;
    top:0px; /* Fixed position from the top of the viewport */
    display: flex;
    padding:0 20px 0 20px;
    align-items: center;
    background-color: white;

}

.go-to-bottom {
  background-color: blue;
  width: 60px;
  height: 60px;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.2s ease-out;
  align-items: center;
}


.go-to-bottom i[class^="fa"]{
  font-size: 2.3rem;
  color:white;
  align-items: center;
}

.go-to-bottom:hover{
  transform:translateY(3px);
}

.back-to-top{
  background-color: red;
  width:60px;
  height:60px;
  align-items: center;
  position:fixed;
  bottom:2rem;
  right:2rem;
  display: inline-flex;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.2s ease-out;
  display: none;
}

.back-to-top:hover{
  transform:translateY(-3px);
}

.back-to-top i[class^="fa"]{
  color:white;
  font-size: 2.3rem;
}


/* ==========================LOGO ===================== */
.logo{
  display: inline-block;
  /* resize in photopea */
  max-width: 10px;
  /* background-color: aqua; */
  height:69px;
}

.logo img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    align-items: center;
  }

/* mobile design */
.mobile-navbar-menu{
   width:75px;
   display: none;
   background-color: black;
   margin-left: 10px;
   /* justify-content: flex-end; */
   height:69px;
   border: none;
   text-align: center;
}

.mobile-navbar-menu i[class^="fa"]{
    font-size: 2rem;
    display: inline-block;
    /* padding:0.8rem; */
    transition: 0.3s ease-in-out;
    color: white;
    text-align: center;
}

.navbar{
    /* background-color: pink; */
    display:flex;
    width:100%;
    height:100%;
    justify-content: flex-end;
    align-items: center;
}

.navbar .logo{
 /* background-color: aqua; */
 width:60px;
 height:69px;
 align-items: center;
}

.primary-navigation{
    /* background-color: aqua; */
    display:flex;
    align-items: center;    
}

.primary-navigation .nav__link{
    text-decoration: none;
     text-align: center;
     /* background-color: red; */
     margin-right: 80px;
     font-size: 16px;
     color:black;
     font-weight: var(--font-weight-Medium);
}

.nav__link:nth-child(5):after {
    content: " | ";
    margin:0px 20px;
    color:#d9d9d9;
     /* opacity: 0.3; */
  }

  .nav__link:nth-child(5) {
  margin-right: 0;
  }

  .navbar--right{
    display:flex;
    gap:1rem;
    align-items: center;
    /* background-color: red;  */
  }

  #nav__btn{
    color:white;
    background-color: black;
    border-radius: 10px;
    padding:8px 24px;
    text-transform: uppercase;
    font-weight: var(--font-weight-Semibold);
    font-size: 17px;
    letter-spacing: 0.1rem;
    border:1px black solid;
    cursor: pointer;
  }
    #nav__btn:hover{
    background-color: white;
    color:black;
    /* transition: 0.3s ease-out;   */
  }

  .navbar-icons{
    display: flex;
    gap:0.3rem;
    align-items: center;
  }

  .navbar-icons #globe {
    font-size: 1.6rem;
  }
  
  .navbar-icons #dropdown{
    font-size: 1rem;
    color:var(--dropdown);
  }

  /* --------- Media Queries Navbar ------------- */
  @media screen and (max-width:990px){
    .header{
        padding:0 0px 0 20px;
    }
    .mobile-navbar-menu{
        display:block;
        padding:0.4em;
    }
    /* .mobile-navbar-menu .navbar-close{
        display: none;
    } */
    .primary-navigation .nav__link{
        display: none;
    }
    #nav__btn{
        display:none;
    }
 
}
/* =============== Media Queries ======== ======= */

.container{
    max-width: 1200px;
    margin: 0 auto;
    width:100%;
    padding: 0 1rem;
    /* background: yellow; */
    /* border:1px solid black;  */
}
/* 
  .wave-seperator{
    transform: rotate(180deg);
    background-color: lightblue;
  } */

  /* ====================== HERO SECTION -----===============*/
  .hero{
    /* background-color: red; */
    padding-top: 40px;
    height: 100vh;
  }
 
  .hero .container{
    /* background-color: #d9d9d9; */
    display:grid;
    grid-template-areas: "text" "images";
    grid-template-columns: 55% auto;
    align-items: center;
    /* padding:50px 0 ; */

  }
  @media screen and (max-width:767px) {
    .hero .container{
      grid-template-areas: 
    "text"
    "area";
   grid-template-columns: 1fr; 
   }

  }

  .hero__section--left{
   grid-area: text;
  }

  .hero__heading{
    font-size: clamp(30px, 10vw, 70px); /* Adjust the minimum and maximum font sizes as needed */
    font-weight: var(--font-weight-ExtraBold);
    line-height: 1.3;
    letter-spacing: 2px;
  }

  .hero__paragraph{
    font-size: clamp(16px, 4vw, 22px); /* Adjust the minimum, preferred, and maximum font sizes as needed */
    /* background: #4CAF50; */
    margin-top:3rem;
    line-height: 2.0;
    max-width:95%;
    text-transform: capitalize;

  }
 .social-proof{
  margin: 30px 0;
  font-weight: var(--font-weight-Light);
  font-style: italic;
  font-size: 18px;
  text-transform: capitalize;
 }

 .social-proof i{
  transform: rotate(180deg);
  /* color: yellowgreen; */
}


  .hero__section--right {
    grid-area: "image";

}

.hero-img--main img {
    width: 100%; /* Set the maximum width of the image to 100% */
    height: auto; /* Allow the height to adjust automatically to maintain aspect ratio */
    max-width: 100%; /* Ensure image doesn't exceed its container's width */
}

/*----------- DROPDOWN --------------- */
/* ======== Dropdown  */

.hero__bottom{
  /* background-color: #3752b4; */
  padding: 60px;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}
.dropdown__box{
  border:1px black solid;
  border-radius:24px;
  /* background-color: var(--hero-dropdown); */
  display: flex;
  box-shadow: #000 10px 10px 0px 0px;
  align-items:center;
  line-height:16px;
  margin:0px 151px;
  padding:32px 30px;
  position: relative;
  top: 0;
  transform: translateY(-21%);
  display:grid;
  grid-template-columns: repeat(3,1fr);
  max-width:800px;
  height:130px;
  margin:0 auto;  
  justify-content: space-between;
}

.dropdown-header{
  font-size: clamp(1rem, 1.3rem, 2rem);
  line-height: 1.6;
  font-weight: var(--font-weight-Bold);
  text-transform: uppercase;
}
/* Style the dropdown button */
.drop-btn {
  align-items: flex-start;
  background-color: lightblue;
  border-color:#000;
  border-radius:8px;
  border-style: solid;
  border-width:1px;
  display: inline-block;
  font-size:18px;
  padding:18px 48px;
  text-align:center;
  color:white;
  font-weight: var(--font-weight-Semibold);
  margin-left: 20px;;
}

#dropdown{
  margin-left: 10px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 2px;
  overflow-y: auto; 
}

/* Show the dropdown menu when the button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--font-weight-Bold);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}




#dropdown__btn-cta{
  align-items: flex-start;
  background-color: #000;
  border-color:#000;
  border-radius:8px;
  border-style: solid;
  border-width:1px;
  display: inline-block;
  font-size:20px;
  padding:18px 48px;
  text-align:center;
}
  
  /* ====================== Courses section ===============*/
  .courses{
   /* background-color:lightblue; */
   padding: 80px 0;
  }

  .main-heading--two{
    text-align: center;
  }
  .subheading {
    text-align: center;
    margin-top:40px;
    font-size: clamp(18px, 4vw, 24px); /* Adjust the minimum, preferred, and maximum font sizes as needed */
    font-weight: var(--font-weight-Medium);
    /* text-transform: uppercase; */
  }
/* 
  .courses__info{
    
  } */

.course-cards__wrapper{
  /* background-color: red; */
  display:grid;
  /* grid will create as many columns as will fit into the available space without overflowing the container. 
  This means that the grid will automatically adjust the number of tracks based on the container's width.  */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Minimum width of 200 pixels and expanding to fill any additional space equally */
  grid-gap: 60px 50px;
  /* padding:2rem; */
  max-width: 100%;
  margin-top: 80px;
  /* transition: width 0.5s ease-in-out; */
}

.course-card{
  border: 1px solid black;
  border-radius: 20px;
  padding:50px;
  align-items: center;
  text-align: center;
  background-color: #4544f7;
  font-size: 25px;
  text-transform: uppercase;
  cursor:pointer;
  max-width: 100%;
}

.course-card:hover{
 transition: 0.3s ease-in-out;
 background: #f7c945;
}

.courses__section--bottom{
  display: flex;
  /* background-color: red; */
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  /* padding: 10 40px; */

}

.courses-information{
  max-width: 45%; /* Set the maximum width as needed */
  padding:20px 0;
  line-height: 2.5;
}

@media (max-width: 768px) {
  .course-cards {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
  }
}



  /* -------------- About-us section ====================*/
  .about-us{
    /* background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='1313' viewBox='0 0 800 1313' fill='none' preserveAspectRatio='none'%3E%3Cscript xmlns=''%3Ewindow._wordtune_extension_installed = true;%3C/script%3E%3Cpath d='M1169.09 0.751587L1169.09 1312.29L395.089 1312.29C395.089 1312.29 620 635 498 325C325.498 -113.324 -0.911875 88.2878 -0.911875 88.2878L-2.0553 0.75203L1169.09 0.751587Z' fill='%23fbacd4'/%3E%3C/svg%3E");    background-size: 100%; */
    background-size: 100% 100%; /* Cover the entire container */
    background-position: center; /* Center the image */
    width: 100vw; /* Full width of the viewport */
    /* height: 100vh;  */
    background-repeat: no-repeat;
    /* padding-top: 80px; */
  }
  .main-heading--three{
    line-height: 1.5;
  }

  .about-us-text{
    max-width: 50%;
    line-height: 2.0;
    text-wrap: wrap;

  }
  .about-us .container{
    display: flex;
    flex-direction: column;
  }

  /* .about-us-text{
    line-height: 2.0;
    max-width: 50%;
  } */
.heading-section{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
  .about-us--top{
    align-items: left;
    text-align: left;
    /* position: relative; */
    /* background-color: #3752b4; */
  }

  /* .about-us__cta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
  } */

  .main-heading--three{
    padding: 50px 0
  }

  .about-us__box-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  
  .about-us__box{
    display: flex;
    align-items: center;
    padding:20px;
    background-color: #f7c945;
    border: 2px solid black;
  }

  .about-us__img{
    max-width:200px;
    flex: 0 1 auto; /* Allow the image to shrink, but not grow */

  
  }

  .about-us__info{
    display: flex;
    flex-direction: column;
    line-height: 2.0;
    align-items: left;
    text-align: left;
  }

  .about-us__box-title{
    font-size: clamp(20px, 5vw, 26px);
    font-weight: var(--font-weight-Black);
    }

  .about-us__description{
    font-weight: var(--font-weight-Regular);
    /* margin-top: 20px; */
    font-size: var(--body-font-size);
    /* background-color: #3752b4; */
    text-wrap: wrap;
    margin-top: 10px;
  }


  @media screen and (max-width: 1024px) {
    .about-us__box-wrapper {
      grid-template-columns: repeat(1, 1fr); /* Change to one column for iPad */
    }
    .about-us__cta{
     display: none;
  }
}


  @media screen and (max-width: 533px) {
    .about-us__box{
      display: flex;
      flex-direction: column-reverse;
  }
  }

/* ===============================STATS SECTION=========================== */

.stats-section{
  /* background-color: aqua; */
  padding: 60px 0;
  margin-top: 50px;
}

.stats-section .container{
  align-items: center;
  justify-content: center;
}
.stats-wrapper{
  /* display: flex; */
  justify-content: center;
  justify-content: space-between;
  /* padding:80px; */
  gap:3rem;
  flex-wrap: wrap;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Adjust minmax value as needed */
  /* will wrap to the next line */
}

.stats__box{
  border:1px solid black;
  border-radius: 5px;
  padding:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1; 
  /* Each stats__box takes up an equal amount of space */
  gap:1rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.data{
  font-size: 40px;
  font-weight: var(--font-weight-ExtraBold);
  /* background-color: red; */
  align-items: center;
  display: flex;

}

.stars{
  align-items: center;
  margin-left: 8px; /* Adjust the margin as needed */
  /* background-color: pink; */
  display: flex;
  gap:0.6rem;
}
.data i[class^="fa"] {
  font-size: 1.2rem; /* Adjust the font size as needed */
  color: #3752b4; /* Change the color as needed */
  align-items: center;
  text-align: center;
}

.data__text{
  font-size: clamp(16px, 2vw, 20px);
  font-weight: var(--font-weight-Semibold);
  max-width: 100%;
}




@media screen and (max-width:1034px){
  .stats-wrapper{
 
    grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Adjust minmax value as needed */
    /* will wrap to the next line */
}
}

@media screen and (max-width:550px){
  .stats-wrapper{
    padding: 50px 5px;
    grid-template-columns:  minmax(200px, 1fr); /* Adjust minmax value as needed */
    /* will wrap to the next line */
}
}
  /* -------------- About-us section ====================*/


  /* Students  */
  .students{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    padding: 90px 0;
  }

  .students .container{
    display: flex;
    flex-direction: column;
    /* gap:3rem; */
    align-items: center;
    text-align: center;
    /* background: #f7c945; */
  }
  .main-heading-four{
    /* margin-top: 50px; */
    line-height: 1.7;
  }
  .main-heading-four i[class^="fa"]{
    color: red;
    /* border: 9px solid black */
  }

  .students__section-subheading{
    max-height: 70%;
    /* text-wrap: wrap; */
    width: 100%;
    max-width: 57%;
    line-height:2.0;
    margin: 40px 0;
  }

  .student-feedback{
    display: flex;
    flex-direction: column;
    /* gap:2rem; */
    margin-top: 20px;
    text-align: center;
    align-items: center;
    /* background-color: #4544f7; */
  }

  .student-feedback-desc{
    width:100%;
    max-width: 80%;
    line-height: 2.0;
    font-weight: var(--font-weight-Bold);
    font-size: 25px;
    /* background-color: #f7c945; */
    margin-top: 50px;
  }

  .student-feedback-desc:nth-child(1){
    width:100%;
    max-width: 80%;
    line-height: 2.0;
    font-weight: var(--font-weight-Bold);
    font-size: 25px;
    /* background-color: #f7c945; */
    margin-top: 0px;
  }

  .student-name{
    font-size: clamp(18px, 2vw, 22px);

  }
  

  /*================= events section=============== */

  .events{
    /* background-color: #000; */
  }
  .events .container{
    display: flex;
    /* padding: 30px; */
    /* padding:90px 24px; */
    background-color: #f7c945;

  }

  .events--left{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: #3752b4;
    /* padding: 80px; */
    justify-content: center;
  }

  /* .events--heading{
    margin-top: 0;
  } */
  .events__description{
    margin: 30px 0;
    line-height: 2.0;
    font-weight: var(--font-weight-Regular);
  }

  .events .btn{
  display: inline-block;
  width:30%;

  }

  @media screen and (max-width:533px){
    .events .btn{
      display: inline-block;
      width:100%;
    margin:10px;
    
      }
  }

.events--right{
   flex-basis: 50%;
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   grid-template-rows: repeat(2, 1fr); 
  background-color: coral;
  align-items: center;
}

.events--right img{
   max-width: 100%;
}
  @media screen and (max-width:787px){
    .events .container{
      display: flex;
      flex-direction: column;
      text-align: center;
  
    }
  }

 /*  FAQS ------------------- */
 .questions{
  /* background-color: red; */
 }

 .questions-heading{
  align-items: center;
  margin: 0 25px;
  line-height: 1.6;
 }
 .questions .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5rem;
  padding: 70px 0;
 }

 .questions-box{
  display: flex;
  border-bottom: 2px solid black;
  align-items: center;
 }

 .questions__title{
  font-size: clamp(25px, 3vw, 35px);
}



/* footer */
.footer{
  /* background-color: #4544f7; */
}
.footer-content{
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr); /* First and last columns take 2fr each, remaining columns take 1fr each */
  /* padding:60px 0; */
  justify-content: center;
  font-size: clamp(0.6rem, 1.2rem, 1.5rem);
  line-height: 2.5; 
 /* background-color: red; */
 padding-top: 40px;
}
.col-1{
  display: flex;
  flex-direction: column;
  line-height: 2.5; 
  /* font-size: clamp(0.5rem, 0.9rem , 1rem); */

}
.footer__motto{
  text-transform: uppercase;
  font-size: clamp(18px, 3vw, 24px);
  font-weight: var(--font-weight-ExtraBold);
  text-decoration: none;

}

.col-1 .footer-icons{
  width: 80%;
  display: flex;
  font-size: clamp(1.2rem, 3vw, 1.9rem);
  transition: var(--transition);
  gap:1rem;
  padding-bottom:1rem;

}
.socials-cta{
  font-size: 18px;
}

.socials-cta span{
  font-weight: var(--font-weight-Medium);
  color: orange;

}

.col-1 .footer__motto,
.col-1 .socials-cta,
.col-1 .footer-icons,
.col-1 .footer__img {
  text-align: left; /* Align text and icons to the left */
}

/* ============== footer-nav ============ */
.footer-nav{
  text-decoration: none;
  list-style-type: none;
}
.footer__links li{
  color:black;
  transition:  var(--transition);
  text-decoration: none;
}


.footer__links:hover{
  color: var(--accent);
  font-weight: var(--font-weight-Medium);
}


#footer__links-title {
  font-weight: var(--font-weight-ExtraBold);
  text-decoration: none;
  color: black;

}

.footer__img{
  display: flex;
  flex-direction: row;
  gap:1rem;
  width: 100%;
  height: auto;
  /* border: 2px red solid;; */
  align-items: center;
}

.footer__img img{
  width:90px;
  height: 90px;
}

@media screen and (max-width:860px) {
  .footer-content{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two columns, evenly spaced */
    /* background-color: #a0d8ef; */
   justify-content: center;
   align-items: center;
   gap:1.8rem;
   /* margin-inline: 2rem;  */

  }
  .col-1{
    order: 5;
    min-width: 100%;
    /* border:2px red solid; */
    /* align-items: center; */
    margin-top: 1.5rem;
    white-space: nowrap;
    text-align: left;
  }
}

@media screen  and (max-width:500px){
  .footer-content{
    grid-template-columns:  minmax(1, 1fr); /* Two columns, evenly spaced */
   /* padding:0.7rem; */
   /* background-color: red; */

  }
  
  .newsletter__form input::placeholder {
    padding:0px;
   
  }

}

@media screen  and (max-width:390px){
  .footer__links{
    white-space: nowrap;
  }
  
}

/* ================ copyright========== */
.copyright{
  text-align: center;
  /* background-color:red; */
  padding:1rem;
  margin-top: 1rem;
  font-size: clamp(0.3rem , 0.9rem, 1.2rem);
  font-weight: var(--font-weight-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright a{
  text-decoration: none;
}
