:root{
/* Color Scheme */
 --primary-clr: #f7c945;
 --accent-clr: #4544f7;
 --black: black;
 --dropdown:#3752b4;
 --hero-dropdown:blue;
 --clr-white:white;
 /* --main:#a0d8ef; */
 /* Font Family  */
 --ff: "Outfit", sans-serif;
/* -- Text font weights -- */
 --font-weight-Thin: 100;
--font-weight-ExtraLight: 200;
--font-weight-Light: 300;
--font-weight-Regular: 400;
--font-weight-Medium: 500;
--font-weight-Semibold: 600;
--font-weight-Bold: 700;
--font-weight-ExtraBold: 800;
--font-weight-Black:900;
/* font size */
--heading-font-size:3rem;
--subheading-font-size:32px;
--body-font-size:clamp(16px, 3vw, 20px);
/* transition */
--transition: color 0.3s ease-in-out;
}


html{
  scroll-behavior: smooth;
}

.main-heading{
  font-size: var(--heading-font-size);
  font-weight: var(--font-weight-Bold);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

body{
    font-family: var(--ff);
    cursor:pointer;
    /* include padding for mobile deisgn */
    /* padding: 0 1rem; */
    font-size: var(--body-font-size);
    color:var(--black);
    scroll-behavior: smooth;

}

/* Header STYLING */
header{
    position: sticky;     /* we want it to stick to the top of the page  */
    z-index:100;         /* float above everything else */
    height:69px;
    width:100%;
    left:0;
    top:0px; /* Fixed position from the top of the viewport */
    display: flex;
    padding:0 20px 0 20px;
    align-items: center;
    background-color: white;
    justify-content: space-between
}

/*  BUTTON  STYLING  */
  /* .btn {
    color:white;
    background-color: black;
    border-radius: 10px;
    padding:17px 24px;
    text-transform: uppercase;
    font-weight: var(--font-weight-Semibold);
    font-size: 17px;
    letter-spacing: 0.1rem;
    border:1px black solid;
    cursor: pointer;
    transform: var(--transition);
    text-decoration: none;
    text-align: center;
    flex-shrink: 1;

  } */

  .btn{
    border: 2px var(--black) solid;
    border-radius: 8px;
    padding: 17px 1.3rem;
    justify-content: center;
    text-align: center;
    background-color: var(--black);
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 0.28px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Example box shadow */
    margin-right:0.5rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: var(--font-weight-Bold);
  color: var(--clr-white);

 }

 .btn:hover{
  background-color: var(--clr-white);
  color: var(--black);
 }
  .fa-caret-right{
    margin-left: 5px;
/* button styling ends here  */
    }
/* ==========================LOGO ===================== */
.logo{
  /* max-width: 200px; */
  /* height: auto; */
  /* with image  */
  align-items: center;
  display: block;
  text-decoration: none;
  font-weight: var(--font-weight-ExtraBold);
  color: var(--black);
  text-transform: capitalize;
  font-size: 1.3rem;
  /* margin-left: 2px; */
  text-align: center;
}

/* .logo img {
    align-items: center;
    background-color: #4544f7;
  } */


.navbar{
   /* background-color: pink; */
   display: flex;
   align-items: center;
   font-size: 18px;
}

 .navbar__link{
   text-decoration: none;
   margin-right: 80px;
   font-size: 16px;
   color: var(--black);
   transition: var(--transition);
   font-weight: var(--font-weight-Regular);
}

.navbar__link:hover {
  color: var(--dropdown);
  font-weight: var(--font-weight-Medium);
}

.navbar__link:nth-child(5):after {
    content: " | ";
    margin:0px 20px;
    color:#d9d9d9;
     /* opacity: 0.3; */
  }

  /* last child */
  .navbar__link:nth-child(5) {
  margin-right: 0;
  }

  /*=============== RIGHT SECTION OF NAVBAR ============ */
  .navbar--right{
    display:flex;
    gap:1rem;
    align-items: center;
    /* background-color: red;  */
  }

.navbar__cta{
  text-decoration: none;
  color: var(--black);


}
  /* navbar button */
  .navbar__btn{
    padding: 7px 28px;
    background-color: orange;
    border-radius: 5px;
    border:1px black solid;
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
  }

  .navbar__btn:hover{
    background-color: var(--primary-clr);
    border-radius: 5px;
    border:1px black solid;
    text-decoration: none;
  }


  .navbar-icons{
    /* display: flex; */
    align-items: center;
    /* justify-content: end; */
  }

  .navbar-icons #globe {
    font-size: 1.6rem;
  }
  
  .navbar-icons #dropdown{
    font-size: 1rem;
    color:var(--dropdown);
    /* margin-left: 10px;; */
  }

  /* mobile hamburger design */
.menu{
  width:70px;
  display: none;
  background-color: var(--black);
  height:69px;
  border: none;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.menu i[class^="fa"]{
   font-size: 2.5rem;
   display: inline-block;
   padding:0.8rem;
   transition: 0.3s ease-in-out;
   color: white;
   text-align: center;
}

/* menu styling ends  */

  /* --------- Media Queries Navbar ------------- */
  @media screen and (max-width:1109px){
    .header{
        padding:0 0px 0 20px;
    }
      
  .menu{
      display:block;
  }
  .navbar__btn,
  .navbar-icons{
    display: none;
  }
  .navbar{
    border:2px solid black;
    position:absolute;
    /* starts where our header ends 69px */
    top:70px;
    /* right corner */
    right:0;
    width:70%;
    /* 100vh - the height of our header */
    height: calc(100vh - 69px);
    /* height: 100vh; */
    background-color: #f7c945;
    /* orientation change  */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light box shadow */
    transform: translateX(-0%);
    opacity:0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
   }

   /* target this class to target in js */
   .navbar-open .navbar{
    opacity: 1;
    transform: translateX(100);
    pointer-events: auto;
    visibility: visible;
   }

   .navbar__link{
    font-size: clamp(18px, 5vw, 20px);   
    display: block;
    /* border: 1px solid red; */
    width:30%;
    margin: 2rem 0 0;
    padding: 10px;
    text-align: center;
    transition: var(--transition);
    color: var(--black);
    border-bottom: 5px var(--black) solid;
  }

  .navbar__link:hover{
   color: var(--clr-white);
  }


   
   .navbar__link:nth-child(5):after {
    content: "  ";
    margin: 0;

  }

  /* .logo{
    move logo ot the middle of navbar
    margin-right: auto;

  } */
}
/* =============== Media Queries ======== ======= */

/* CONTAINER */
.container{
    max-width: 1200px;
    margin: 0 auto; 
    width:100%;
    padding: 0 1rem;
    /* give space on edge  */
}


  .wave-seperator{
    transform: rotate(180deg);
    background-color: lightblue;
    width: 100%;
    height:50%;
  }

  /* ====================== HERO SECTION -----===============*/
  .hero{
    /* background-color: var(--primary-clr); */
    /* padding-top: 40px; */
    /* height: 100vh; */
    /* border: 2px black solid; */
    /* background-image: url("../images/svgviewer-png-output\ \(4\).png"); 
    background-position: bottom top; 
    background-repeat: no-repeat;
    background-position: bottom left; 
    background-size: 50% 50%;
    transition: all 0.15s ease 0s; */
    .j{
      display: inline;
      max-width: 50%;
      position: absolute;
      /* top: -126px; */
      top: 488px;
      left: -100px;
      z-index: -1;
      height: 36%;
    }
  }
  /* .decoration {
    display: block;
    max-width: 1000px;
    height: 500px;
    position: absolute;
    bottom: 0px;
    top: 461px;
    left: -199px;
} */
 
  .hero .container{
    /* background-color: #d9d9d9; */
    /* border: 2px black solid; */
    display:grid;
    grid-template-areas: "text" "images";
    grid-template-columns: 70% auto;
    align-items: center;
  }
  @media screen and (max-width:767px) {
    .hero .container{
      grid-template-areas: 
    "text"
    "area";
   grid-template-columns: 1fr; 
   }

  }

  .hero__section--left{
   grid-area: text;
   /* background-color: #3752b4; */
   /* padding-left: 30px; */
  }

  .hero__heading{
    font-size: clamp(30px, 10vw, 70px); /* Adjust the minimum and maximum font sizes as needed */
    font-weight: var(--font-weight-Black);
    line-height: 1.5;
    letter-spacing:2px;
    text-transform: uppercase;
    /* background-color: #4544f7; */
    padding:30px 0 00px 0;
    margin-top: 50px;
    text-shadow: 
    /* -1px -1px 0 var(--black),   */
     3px -1px 0 var(--black),
    -1px  1px 0 var(--black),
     1px  1px 0 var(--black);
    color:var(--accent-clr)
  }

  .hero__paragraph{
    font-size: clamp(16px, 4vw, 22px); /* Adjust the minimum, preferred, and maximum font sizes as needed */
    /* background: #4CAF50; */
    margin-top:20px;
    line-height: 2.2;
    max-width:80%;
    text-transform:capitalize;
    font-weight: var(--font-weight-Regular);
    /* font-family: "poppins"; */

  }
 .social-proof{
  margin: 30px 0 0 0;
  font-weight: var(--font-weight-Semibold);
  /* font-style: italic; */
  font-size: 19px;
  text-transform: capitalize;
  line-height: 2.0;
  letter-spacing: 1.2px;
 }

 .social-proof i{
  transform: rotate(180deg);
  color:var(--accent-clr);
  /* border: 1px solid black; */
  font-weight: var(--font-weight-Bold);
  font-size: 1.3rem;
}


.hero__section--right {
    grid-area: "image";
    /* background-color: aqua; */

}
.hero-img--main {
  /* width:300px;
  height:400px; */
}



/*----------- DROPDOWN --------------- */
/* ======== Dropdown  */

.hero__bottom{
  /* background-color: #3752b4; */
  padding-top:100px;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
  
  
}

.dropdown__box{
  border:1px black solid;
  border-radius:24px;
  background-color: orange;
  display: flex;
  box-shadow: #000 10px 10px 0px 0px;
  align-items:center;
  line-height:16px;
  padding:16px 30px;
  transform: translateY(-21%);
  /* display:grid; */
  /* grid-template-columns: repeat(3,1fr); */
  max-width:800px;
  height:130px;
  margin:0 auto;  
  justify-content: space-between;
  display: flex;
  
  
}
@media screen and (max-width:714px){
  .dropdown__box{
    flex-direction: column;
    padding:150px 10px;
    align-items: center;
    width: 100%;
    gap:2rem;
    justify-content: center;
    max-width: 300px;
    /* margin: 0px 10px; */
  }
}


.dropdown{
 
}
.dropdown-header{
  font-size: clamp(1rem, 1.3rem, 2rem);
  line-height: 1.6;
  font-weight: var(--font-weight-Bold);
  text-transform: uppercase;
}
/* Style the dropdown button */
.drop-btn {
  align-items: flex-start;
  background-color: var(--accent-clr);
  border-color:#000;
  /* border-radius:8px; */
  border-style: solid;
  border-width:1px;
  display: inline-block;
  font-size:18px;
  padding:18px 36px;
  text-align:center;
  color:white;
  font-weight: var(--font-weight-Semibold);
  /* margin-left: 200px; */
  letter-spacing: 0.1rem;
  width:200px;
}

#dropdown{
  margin-left: 10px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 2px;
  overflow-y: auto; 
  /* border-radius: 4px; */
  overflow-y: scroll;
  max-height: 200px; /* Add max height to control scrollbar appearance */
  /* border: 2px var(--accent-clr) solid; */
  
}


/* Style the scrollbar */
.dropdown-content::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  border-radius: 20px;
}

/* Track */
.dropdown-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
.dropdown-content::-webkit-scrollbar-thumb {
  background: var(--black); 
  border-radius: 4px;
}

/*  hover */
.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: var(--black); 
}


/* Show the dropdown menu when the button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--font-weight-Bold);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}


#dropdown__btn-cta{
  align-items: flex-start;
  background-color: var(--black);
  /* border-color: 2px var(--accent) solid; */
  border-radius:8px;
  border-style: solid;
  border-width:1px;
  display: inline-block;
  font-size:20px;
  padding:18px 48px;
  text-align:center;
  text-decoration: none;
  color: var(--clr-white);
}

#dropdown__btn-cta:hover{
 background-color: var(--clr-white);
 color:var(--black) ;

}
  
  /* ====================== Courses section ===============*/
  .courses{
   /* background-color:lightblue; */
   padding: 80px 0;
   margin-top: 70px;
  }

  .main-heading--two{
    text-align: center;
  }
  .subheading {
    text-align: center;
    margin-top:40px;
    font-size: clamp(18px, 4vw, 24px); /* Adjust the minimum, preferred, and maximum font sizes as needed */
    font-weight: var(--font-weight-Medium);
    /* text-transform: uppercase; */
  }
/* 
  .courses__info{
    
  } */

  .courses .subheading {
    line-height: 2.0;
  }

.course-cards__wrapper{
  /* background-color: red; */
  display:grid;
  /* grid will create as many columns as will fit into the available space without overflowing the container. 
  This means that the grid will automatically adjust the number of tracks based on the container's width.  */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Minimum width of 200 pixels and expanding to fill any additional space equally */
  grid-gap: 60px 50px;
  /* padding:2rem; */
  max-width: 100%;
  margin-top: 80px;
  /* transition: width 0.5s ease-in-out; */
}

.course-card{
  border: 1px solid black;
  border-radius: 20px;
  padding:50px;
  align-items: center;
  text-align: center;
  background-color: var(--accent-clr);
  font-size: 25px;
  text-transform: uppercase;
  cursor:pointer;
  max-width: 100%;
  color: var(--clr-white);
  font-weight: var(--font-weight-Semibold);
  letter-spacing: 1.5px;
}

.course-card:hover{
 transition: 0.3s ease-in-out;
 background: #f7c945;
 color: var(--black);
}

.courses__section--bottom{
  display: flex;
  /* background-color: red; */
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  /* padding: 10 40px; */

}

.courses-information{
  max-width: 45%; /* Set the maximum width as needed */
  padding:20px 0;
  line-height: 2.5;
}

/* ================== -------- >>>>>>> Media Queries COURSES SECTION <<<<<<--------- ===============*/

@media (max-width: 768px) {
  .course-cards {
      grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
    }

  .social-proof {
      margin-bottom: 30px;
    }
    
  .courses__section--bottom {
     flex-direction: column;
   }

  .courses-information {
      max-width: 100%; /* Set the maximum width as needed */
      padding:20px 0;
      line-height: 2.5;
    }

   #courses__btn {
      width:100%;
    }
}
/* ================== -------- >>>>>>> Media Queries COURSES SECTION <<<<<<--------- ===============*/




  /* -------------- About-us section ====================*/
  .about-us{
    /* background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='1313' viewBox='0 0 800 1313' fill='none' preserveAspectRatio='none'%3E%3Cscript xmlns=''%3Ewindow._wordtune_extension_installed = true;%3C/script%3E%3Cpath d='M1169.09 0.751587L1169.09 1312.29L395.089 1312.29C395.089 1312.29 620 635 498 325C325.498 -113.324 -0.911875 88.2878 -0.911875 88.2878L-2.0553 0.75203L1169.09 0.751587Z' fill='%23fbacd4'/%3E%3C/svg%3E");    background-size: 100%; */
    background-size: 100% 100%; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    /* padding-top: 80p */
    /* background-color: #f7c945; */
  }


  .about-us--top{
    align-items: left;
    text-align: left;
    /* position: relative; */
    /* background-color: #3752b4; */
    /* margin: 60px 0; */
    align-items: center;
  }

  .heading-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color: #4544f7; */
    flex-direction: column;
  }

  .main-heading--three{
    line-height: 1.5;
  }


 .about-us   .subheading{
 /* background-color: red; */
 margin-bottom: 50px;
  }

  .about-us-text{
    max-width: 80%;
    line-height: 2.2;
    text-wrap: wrap;
    text-align:center ;
    margin: 20px 0;
  }

  .about-us .container{
    display: flex;
    flex-direction: column;
  }

 

  .main-heading--three{
    padding: 20px;
    margin-top:30px;
  }

  .about-us__box-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  
  .about-us__box{
    display: flex;
    align-items: center;
    padding:20px;
    background-color: #f7c945;
    border: 2px solid black;
  }

  .about-us__img{
    max-width:200px;
    flex: 0 1 auto; /* Allow the image to shrink, but not grow */

  
  }

  .about-us__info{
    display: flex;
    flex-direction: column;
    line-height: 2.0;
    align-items: left;
    text-align: left;
  }

  .about-us__box-title{
    font-size: clamp(20px, 5vw, 26px);
    font-weight: var(--font-weight-Black);
    }

  .about-us__description{
    font-weight: var(--font-weight-Regular);
    /* margin-top: 20px; */
    font-size: var(--body-font-size);
    /* background-color: #3752b4; */
    text-wrap: wrap;
    margin-top: 10px;
    /* width: 50%; */
  }

  /* .about-us .btn{
    position: absolute;
    top:346%;
    left:50%;
    transform: translate(-50%, -50%);
  } */

  @media screen and (max-width: 1024px) {
    .about-us__box-wrapper {
      grid-template-columns: repeat(1, 1fr); /* Change to one column for iPad */
    }
    .about-us__cta{
     display: none;
  }
}


  @media screen and (max-width: 533px) {
    .about-us__box{
      display: flex;
      flex-direction: column-reverse;
  }
  }

/* ===============================STATS SECTION=========================== */

.stats-section{
  background-color: var(--accent-clr);
  padding: 90px 0;
  margin: 90px 0;
}

.stats-section .container{
  align-items: center;
  justify-content: center;
}
.stats-wrapper{
  /* display: flex; */
  justify-content: center;
  justify-content: space-between;
  /* padding:80px; */
  gap:3rem;
  flex-wrap: wrap;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Adjust minmax value as needed */
  /* will wrap to the next line */
}

.stats__box{
  border:1px solid black;
  border-radius: 5px;
  padding:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1; 
  /* Each stats__box takes up an equal amount of space */
  gap:1rem;
  white-space: nowrap;
  text-transform: uppercase;
  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  
  
}

.data{
  font-size: 40px;
  font-weight: var(--font-weight-ExtraBold);
  /* background-color: red; */
  align-items: center;
  display: flex;
  color: orange;

}

.stars{
  align-items: center;
  margin-left: 8px; /* Adjust the margin as needed */
  /* background-color: pink; */
  display: flex;
  gap:0.6rem;
}
.data i[class^="fa"] {
  font-size: 1.2rem; /* Adjust the font size as needed */
  color: var(--primary-clr); /* Change the color as needed */
  align-items: center;
  text-align: center;
}

.data__text{
  font-size: clamp(16px, 2vw, 20px);
  font-weight: var(--font-weight-Bold);
  max-width: 100%;
  color: var(--clr-white);
  letter-spacing: 1.9px;
}




@media screen and (max-width:1034px){
  .stats-wrapper{
 
    grid-template-columns: repeat(2, minmax(200px, 1fr)); /* Adjust minmax value as needed */
    /* will wrap to the next line */
}
}

@media screen and (max-width:550px){
  .stats-wrapper{
    padding: 50px 5px;
    grid-template-columns:  minmax(200px, 1fr); /* Adjust minmax value as needed */
    /* will wrap to the next line */
}
}
  /* -------------- About-us section ====================*/


  /* Students  */
  .students{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    /* padding: 90px 0; */
    margin:90px 0;
  }

  .students .container{
    display: flex;
    flex-direction: column;
    /* gap:3rem; */
    align-items: center;
    text-align: center;
    /* background: #f7c945; */
  }
  .main-heading-four{
    margin-top: 50px;
    line-height: 1.7;
  }
  .main-heading-four i[class^="fa"]{
    color: red;
    /* border: 9px solid black */
  }

  .students__section-subheading{
    max-height: 70%;
    /* text-wrap: wrap; */
    width: 100%;
    max-width: 57%;
    line-height:2.0;
    margin: 40px 0;
  }

  .student-feedback{
    display: flex;
    flex-direction: column;
    /* gap:2rem; */
    margin-top: 20px;
    text-align: center;
    align-items: center;
    /* background-color: #4544f7; */
  }

  .student-feedback-desc{
    width:100%;
    max-width: 80%;
    line-height: 2.0;
    font-weight: var(--font-weight-Bold);
    font-size: 25px;
    /* background-color: #f7c945; */
    margin-top: 50px;
  }

  .student-feedback-desc:nth-child(1){
    width:100%;
    max-width: 80%;
    line-height: 2.0;
    font-weight: var(--font-weight-Bold);
    font-size: 25px;
    /* background-color: #f7c945; */
    margin-top: 0px;
  }

  .student-name{
    font-size: clamp(18px, 2vw, 22px);

  }
  

  /*================= events section=============== */

  .events{
    /* background-color: #000; */
    padding: 90px 0;

  }
  .events .container{
    display: flex;
    /* padding: 30px; */
    /* padding:90px 0px; */
    /* background-color: #f7c945; */
    gap:3rem;

  }

  .events--left{
    display: flex;
    flex-direction: column;
    /* flex-basis: 50%; */
    max-width: 50%;
    /* background-color: #3752b4; */
    /* padding: 80px; */
    justify-content: center;
    text-align: left;
  }

  .events .main-heading{
    line-height: 1.5;
  }
  .events__description{
    margin: 30px 0;
    line-height: 2.5;
    font-weight: var(--font-weight-Regular);
    max-width: 100%;
    font-size: 20px;
    /* background-color: #f7c945; */
    text-align: left;
  }

  .events .btn{
  /* display: inline-block; */
  width:40%;
  /* background-color: red; */
  align-items: center;
  text-align: center;
  margin-top: 30px;

  }
 
 

.events--right{
   flex-basis: 50%;
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   grid-template-rows: repeat(2, 1fr); 
  /* background-color: coral; */
  align-items: center;
  grid-gap: 30px 45px;
}



.events--right img{
   max-width: 100%;
   border-radius: 9px;
   /* flex-shrink: 1; */
   

}

.events--right img:last-child{
 height:169px;
 width:250px;
}
 /* background-color: red;
} */
/* .img-border{
  background-color: #4544f7;
  padding:20px;

}
.img-border:nth-child(2){
  background-color:#f4c108;
  padding:20px;

} */
  @media screen and (max-width:787px){
    .events .container{
      display: flex;
      flex-direction: column;
      text-align: center;
      /* width:100%; */
  
    }
    .events--left{
      /* background-color: red; */
      max-width: 100%;
    }
    #events__btn {
      width:100%;
      /* background-color: red; */
    }
  }

  @media screen and (max-width:533px){
    .events .btn{
      display: inline-block;
      width:90%;
    margin:10px;

  
      }
      .events--left{
        display: flex;
        flex-direction: column;
        /* flex-basis: 50%; */
        max-width: 100%;
        /* background-color: #3752b4; */
        /* padding: 80px; */
        text-align: center;
      }

      .events__description{
        text-align: center;
      }

      .events--right{
        justify-content: center;
        text-align: center;
      }
  }

 /*  FAQS ------------------- */
 .questions{
  /* background-color: red; */
  padding: 50px 0;
 }

 /* Style the buttons that are used to open and close the accordion panel */
/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
  background-color: #ccc;
} */

/* Style the accordion panel. Note: hidden by default */
/* .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} */

/* .accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
} */

/* .active:after {
  content: "\2796"; 
} */
.accordion {
  /* background-color: #eee; */
  color: var(--black);
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: center;
  outline: none;
  font-size: clamp(25px, 3vw, 35px);
  transition: 0.4s;
  background-color: white;

}

.active, .accordion:hover {
  background-color: var(--primary-clr);
  /* opacity: 0.3; */
}

.accordion:after {
  content: '\25BE';
  color: var(--black);
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-weight: var(--font-weight-ExtraBold);
  font-size: 2rem;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  /* background-color: red; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--black);
  font-size: 22px;
  line-height: 60px;
  text-wrap: wrap;
  text-align: center;
  }


  .questions-heading{
  align-items: center;
  margin: 0 25px;
  line-height: 1.6;
 }
   

 
 .questions .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5rem;
  padding: 70px 0;
 }

 /* .questions-box{
  display: flex;
  border-bottom: 2px solid black;
  align-items: center;
 } */

 /* .questions__title{
  font-size: clamp(25px, 3vw, 35px);
} */

@media screen  and (max-width:500px){
  .questions-heading{
    text-align: center;
  }
}

/* footer */
.footer{
  /* background-color: #4544f7; */
  text-decoration: none;

}
.footer-content{
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr); /* First and last columns take 2fr each, remaining columns take 1fr each */
  /* padding:60px 0; */
  justify-content: center;
  font-size: clamp(0.6rem, 1.2rem, 1.5rem);
  line-height: 2.5; 
 /* background-color: red; */
 padding-top: 40px;
 text-decoration: none;
}
.col-1{
  display: flex;
  flex-direction: column;
  line-height: 2.5; 
  /* font-size: clamp(0.5rem, 0.9rem , 1rem); */

}
.footer__motto{
  text-transform: uppercase;
  font-size: clamp(18px, 3vw, 24px);
  font-weight: var(--font-weight-ExtraBold);
  text-decoration: none;

}

.col-1 .footer-icons{
  width: 80%;
  display: flex;
  font-size: clamp(1.2rem, 3vw, 1.9rem);
  transition: var(--transition);
  gap:1rem;
  padding-bottom:1rem;

}
.socials-cta{
  font-size: 18px;
}

.socials-cta span{
  font-weight: var(--font-weight-Medium);
  color: orange;

}

.col-1 .footer__motto,
.col-1 .socials-cta,
.col-1 .footer-icons,
.col-1 .footer__img {
  text-align: left; /* Align text and icons to the left */
}

/* ============== footer-nav ============ */
.footer-nav {
  text-decoration: none;
  list-style-type: none;
  
}

.footer-nav a{
  text-decoration: none;
  color: black;
  line-height: 2.5; 
  text-transform: capitalize;
}

.footer__links li{
  color:black;
  transition:  all 0.4 ease-in-out;
  text-decoration: none;
}


.footer__links:hover{
  color: var(--accent-clr);
  font-weight: var(--font-weight-Bold);
}


#footer__links-title {
  font-weight: var(--font-weight-ExtraBold);
  text-decoration: none;
  color: black;

}

.footer__img{
  display: flex;
  flex-direction: row;
  gap:1rem;
  width: 100%;
  height: auto;
  /* border: 2px red solid;; */
  align-items: center;
}

.footer__img img{
  width:90px;
  height: 90px;
}

@media screen and (max-width:860px) {
  .footer-content{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two columns, evenly spaced */
   justify-content: center;
   align-items: center;
   gap:1.8rem;
   /* margin-inline: 2rem;  */
   /* background-color: red; */
   /* margin: auto 0; */


  }
  .col-1{
    order: 5;
    min-width: 100%;
    /* border:2px red solid; */
    /* align-items: center; */
    margin-top: 1.5rem;
    white-space: nowrap;
    text-align: left;
  }
}

@media screen  and (max-width:500px){
  .footer-content{
    grid-template-columns:  minmax(1, 1fr); /* Two columns, evenly spaced */
   /* padding:0.7rem; */
   /* background-color: red; */

  }
  
  .newsletter__form input::placeholder {
    padding:0px;
   
  }

}

@media screen  and (max-width:390px){
  
  .footer__links{
    white-space: nowrap;
  }
  
}

/* ================ copyright========== */
.copyright{
  text-align: center;
  /* background-color:red; */
  padding:1rem;
  margin-top: 1rem;
  font-size: clamp(0.3rem , 0.9rem, 1.2rem);
  font-weight: var(--font-weight-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright a{
  text-decoration: none;
}


/* 
.go-to-bottom {
  background-color: blue;
  width: 60px;
  height: 60px;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.2s ease-out;
  align-items: center;
}


.go-to-bottom i[class^="fa"]{
  font-size: 2.3rem;
  color:white;
  align-items: center;
}

.go-to-bottom:hover{
  transform:translateY(3px);
}

.back-to-top{
  background-color: red;
  width:60px;
  height:60px;
  align-items: center;
  position:fixed;
  bottom:2rem;
  right:2rem;
  display: inline-flex;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.2s ease-out;
  display: none;
}

.back-to-top:hover{
  transform:translateY(-3px);
}

.back-to-top i[class^="fa"]{
  color:white;
  font-size: 2.3rem;
} */
